<!doctype html>
<html lang="en">
<head>
    <title>CMS</title>
	<link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- styles -->
    <style is="custom-style">
        @font-face {
            font-family: GMsanC;
            src: url(assets/GMsanC_Reg.otf);
        }
    </style>
    <% _.each(styles, function(styleTag) { %>
        <%= styleTag %>
    <% }); %>

    <!-- imports -->
    <% _.each(imports, function(importTag) { %>
        <%= importTag %>
    <% }); %>
</head>
<body style="margin:0 auto; max-width: 900px;">
    <!-- widgets -->
    <% _.each(widgets, function(widget) { %>
        <div>
            <%= widget.html %>
        </div>
    <% }); %>

    <script>
        window.addEventListener('ngn-single-instrument-selected', function (event) {
            alert('Symbol: ' + event.detail.symbol + '\nSymbology: ' + event.detail.symbology);
        });
    </script>

    <!-- scripts -->
    <% _.each(scripts, function(scriptSrc) { %>
        <script type="text/javascript" src="<%= scriptSrc %>"></script>
    <% }); %>
</body>
</html>